---
import Button from "./Button.astro";
import Card from "./Card.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  image?: string;
  title: string;
  description: string;
  href?: string;
  buttonText?: string;
  slug?: string;
  descriptionClass?: string;
}

const {
  name,
  image,
  title,
  description,
  href,
  buttonText,
  descriptionClass,
  slug,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,svg,webp}"
);
---

<Card class="basis-[100%] md:basis-[46%] lg:basis-[22%] self-stretch">
  <Image
    alt={name || "YOU?"}
    class:list={[
      "glitch mb-4 h-[400px] w-full rounded-lg object-cover",
      image ? "object-cover" : "object-fill",
    ]}
    src={images?.[image || "/src/assets/incognito.svg"]?.()}
    height="400"
    transition:name={slug && `${slug}-image`}
  />
  <div class="flex-grow">
    <h3
      class="mb-2 text-2xl font-bold"
      transition:name={slug && `${slug}-name`}
    >
      {name}
    </h3>
    <p
      class="mb-4 text-secondary-300 font-semibold"
      transition:name={slug && `${slug}-title`}
    >
      {title}
    </p>
    <p class={descriptionClass}>
      {description}
    </p>
  </div>
  <div class="glitch">
    <Button link={href} classes="mt-4 text-sm">{buttonText}</Button>
  </div>
</Card>
